.app-container {
  background-color: blueviolet;
  /* display: flex; */
  /* flex-direction: column; */
  /* max-width: max-content; */
  border-radius: 50px;
  justify-content: center;
  align-items: center;
}
.button-container {
  height: 200px;
  width: 200px;
  background-color: aqua;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-left: 500px;
}
h1 {
  margin-left: 570px;
}
button {
  border-radius: 50px;
}
